.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 40%;
}

.label{
    width: 100%;
    margin: 2% 0;
}


.input{
    color: #fff;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1a29b9;
    border-right: 2px solid #1a29b9;
    padding: 2%;
}

.input:focus{
    background-color: #fff;
    color: #000;
    outline: none;
    border-bottom: 1px solid #1a29b9;
    border-right: 1px solid #1a29b9;
}

.button{
    background-color: transparent;
    color: #fff;
    margin-top: 4%;
    padding: 1%;
    width: 30%;
    transition: transform .2s;
    border: none;
    border-bottom: 2px solid #1a29b9;
    border-right: 2px solid #1a29b9;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

@media all and (max-width: 480px) {
    .section{
        height: max-content;
        margin-bottom: 5%;
    }

    .form{
        width: 70%;
    }
  }