.navbar{
    display: flex;
    position:fixed;
    width: 100%;
    height: max-content;
    justify-content: center;
    background-color: #2938e8;
    border-bottom: 2px solid #1e2c91;
    z-index: 1;
}

.a{
    background-color: transparent;
    font-weight: 800;
    font-size: 90%;
    color: white;
    border: none;
}

.a:hover{
    cursor: pointer;
}

.navigation{
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}