.App {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2%;
  color: #4767ff;
  color: #ccc;
}

/* Agrega un margen superior para evitar la superposición */
.banner + .navbar {
  margin-top: 100vh; /* Ajusta según el tamaño de tu banner */
}

